
.wrapper {
    display: flex !important;
}
.first {
width: 500px;
height: 600px;
padding: 10px;
text-align: center;
border: 1px solid #000;
}
.second{
    width: 500px;
    text-align: center;
    height: 600px;
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
}

.text {
    text-align: left;
}
.comp {
    border: 1px solid #000;
    width:300px ;
    padding: 10px;  
    align-items: center;
    margin-left: 70px;
}
.comp2 {
    border: 1px solid #000;
    width:300px ;
    padding: 10px;  
    align-items: center;
    margin-left: 70px;
}
.bold {
    font-weight: 700;
}